<div nz-row>
    <ul nz-menu nzMode="horizontal" class="nav" style="width: 100%; margin-bottom: 30px; background-color:
    #d580ff;">
        <div nz-row nzJustify="space-between">
            <div nz-col style="display: flex;">
                <li nz-menu-item nzSelected>
                    <i nz-icon nzType="mail"></i> Navigation One
                </li>
                <li nz-menu-item>
                    <i nz-icon nzType="appstore"></i> Navigation Two
                </li>
            </div>
            <div nz-col style="display: flex; margin-right: 30px;">
                <li>
                    <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
                </li>
            </div>
        </div>
        <!-- <li nz-submenu nzTitle="Navigation Three - Submenu" nzIcon="setting">
          <ul>
            <li nz-menu-group nzTitle="Item 1">
              <ul>
                <li nz-menu-item>Option 1</li>
                <li nz-menu-item>Option 2</li>
              </ul>
            </li>
            <li nz-menu-group nzTitle="Item 2">
              <ul>
                <li nz-menu-item>Option 3</li>
                <li nz-menu-item>Option 4</li>
                <li nz-submenu nzTitle="Sub Menu">
                  <ul>
                    <li nz-menu-item nzDisabled>Option 5</li>
                    <li nz-menu-item>Option 6</li>
                  </ul>
                </li>
                <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                  <ul>
                    <li nz-menu-item>Option 5</li>
                    <li nz-menu-item>Option 6</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li> -->

    </ul>



    <div nz-col style="padding: 0 80px; ">
        <div nz-row nzJustify="start ">
            <div class="card " style="display: flex; ">
                <img src="img_avatar.png " alt="Avatar " style="width:100% ">
                <div class="container ">
                    <h4><b>John Doe</b></h4>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
    </div>
    <div nz-col></div>
</div>